@*@model IEnumerable<Clinic_Schedule>*@

@{
    ViewBag.Title = "MMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{

    @*<script src="~/Scripts/Role/RoleClient.js"></script>*@
    @*<script src="~/Scripts/POR_Details/module.js"></script>
    <script src="~/Scripts/POR_Details/Service.js"></script>
    <script src="~/Scripts/POR_Details/Controller.js"></script>*@
}
@*<link href="../Scripts/js/jquery-ui.min.css" rel="stylesheet" />
<link href="../Scripts/js/fullcalendar.min.css" rel="stylesheet" />
<link href="../Scripts/js/jquery.qtip.min.css" rel="stylesheet" />

<script src="../Scripts/js/moment.min.js"></script>
<script src="../Scripts/js/jquery.min.js"></script>

<script src="../Scripts/js/jquery-ui.min.js"></script>
<script src="../Scripts/js/jquery.qtip.min.js"></script>
<script src="../Scripts/js/fullcalendar.min.js"></script>
<script src="../Scripts/js/calendarscript.js" type="text/javascript"></script>*@
<h2>PORReport</h2>
@Html.Partial("/Default.aspx")




